---
# Only the main Sass file needs front matter (the dashes are enough)
---
.main, .segundo, .tercero  {
  width: 600px;
  margin: 0 auto;
}

body {
  background-image: url("degradado_de_color.jpeg");
  font-family: 'Maven Pro';
  font-weight: 400;
}

.enlace {
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  background-color: #F1B5EA;
  font-family: 'Merriweather';
  font-weight: 700;
  text-align: center;
}

h2{
  background-color: #F4D3F0;
  font-family: 'Merriweather';
  font-weight: 700;
  text-align: center;
}

