---
layout: cv
title: Curriculum Rocío
link_text: CV (es)
link_icon: briefcase
mail: hola@rocio.me
about: |
  Profundamente interesada en la personas y sus interacciones, estudie y ejerci la Psicología.
  Con el tiempo, mi pasión por las tecnología me abrió nuevos caminos para el 
  crecimiento personal y profesional. Ahora aprovecho cada ocasión para construir 
  cosas que entienden y ayudan a la gente.
sections:
  - name: experiencia
    items:
      - title: Desarrolladora en Ruby on Rails en Besepa Technologies
        dates: Febrero 2016 - Actualidad
        detail: |
          Tareas de desarrollo y mantenimiento de aplicaciones Ruby on Rails. 
          Implementación de nuevas funcionalidades, automatización de procesos, 
          integración con APIs, testeo (Rspec, Rubocop) y reporting.
      - title: Desarrolladora en Ruby on Rails en Ideas4All
        dates: Julio 2015 - Febrero 2016
        detail: |
          Tareas de desarrollo y corrección de bugs de aplicación en Rails. 
          Refactorización, testing, soporte a clientes SAAS.
      - title: Software Developer Intern en We Are People Engineering
        dates: Junio 2015 - Julio 2015
        detail: |
          Seleccionada para programa de formación en desarrollo con tecnologías
          del ecosistema Ruby on Rails, como Haml, SCSS, Rake, Capistrano...
      - title: Programador Junior en LCIbérica
        dates: Julio 2013 - Marzo 2015
        detail: |
          Desarrollo de aplicaciones Sinatra, cumplimentando documentación
          en formatos oficiales desde la BD. Adaptación personalizada 
          del producto a cada cliente.
      - title: Aprendiz de Ruby en LCIbérica.
        dates: Septiembre 2012- Octubre 2012
        detail: |
          Integración de Ruby y SQL para autocompletamiento de documentos 
          oficiales.
      - title: Psicóloga, psicopedagoga y perito forense
        dates: Octubre 2005 – Junio 2012
        detail: |
          

  - name: Formación
    icon: university
    items:
      - detail: Curso de Introducción a Ruby on Rails. Redradix (20 horas)
      - detail: 2011 - Administración de bases de datos Oracle. ESF Group-Inem (150 hours)
      - detail: 2009-2011 Especialista en Psicología Forense por el Col. Of. de Psicólogos de Madrid (276h teoría y 100 prácticas).
      - detail:  Preparando oposición al Cuerpo Superior de Técnicos de instituciones penitenciarias
      - detail: June 2009 - Licenciada en Psicología por Universidad Complutense de Madrid.
  - name: Habilidades
    icon: wrench
    items:
      - detail: Git SCM, MySql/Oracle databases, Rspec, Rubocop, Xml, Html/Haml/(S)CSS.
      - detail: Desarrollo de software en lenguaje Ruby con frameworks Rails y  Sinatra.
      - detail: Usuaria de Debian, Mac y Windows con nociones de virtualización en Vagrant/Virtualbox y Docker.
      - detail: Conocimiento avanzado de MS Office y OpenOffice
  - name: Idiomas
    icon: flag
    items:
      - detail: Upper Intermediate. Cambridge House
      - detail: July 2011, Course intensive pre-intermediate. Cambridge House

---

<article id='resume'>
    <h1>Rocío Fernández Díaz-Meco</h1>
    <div id='contact'>
      <a class='mail' href='mailto:{{page.mail}}'>{{ page.mail }}</a>
      //
      <span class='cell'>637 53 82 73</span>
    </div>
    <div id='about'>{{ page.about }}</div>
  {% for section in page.sections %}
    <section id={{ section.name }}>
      <h2>{{ section.name | upcase }}</h2>
        {% for item in section.items %}
          <div class='item'>
            {% if item.title != null %}
              <span class='title'>
              {% if item.dates != null %}
                <span class='date'>{{ item.dates }}</span>
              {% endif %}
              {{ item.title }}
              </span>
            {% endif %}
            <div class='detail'>
              {% if item.title == null %}
              <i class="fa fa-{% if section.icon %}{{ section.icon }}{% else %}check{% endif %}"></i>
              &nbsp;
              {% endif %}
            {{ item.detail }}
            </div>
          </div>
       {% endfor %}
    </section>
  {% else %}
    There are no sections!
  {% endfor %}
</article>
